<div class="main-content">
<div class="container-fluid">
  <br>
  <br>
  <br>
    <div class="row">
      <div class="col-md-4"></div>
       
        <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="#pablo">
                        <img class="img" src="../assets/img/faces/cross-platform.jpg" />
                    </a>
                </div>

                <div class="content">
                    <h6 class="category text-gray">Mobile Tool</h6>
                    <h4 class="card-title">Desktop Reporting Tool</h4>
                    <form>
                        <div class="row">
                            <div class="col-md-12">
                          
                                <div class="form-group form-black label-floating is-empty">
                                    <div class="pull-left"><label class="control-label">User Name</label></div>
                                    <br><input type="text" class="form-control" >
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating is-empty">
                                    <div class="pull-left"><label class="control-label">Password</label></div>
                                    <br><input type="password" class="form-control" >
                                </div>
                            </div>
                        </div>
                    </form>
                    <a href="#pablo" class="btn btn-danger btn-round">Login</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4"></div>
        
    </div>
</div>
</div>
